In [1]:
#1. Create a string with your name and print it
name = "Shivam"
print(name)

Shivam

In [2]:
#2. Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
#3. Slice the first 3 characters from "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
#4. Convert "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [5]:
# 5. Replace "apple" with "orange" in "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
# 7. Append 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [9]:
#8. Remove number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [10]:
# 9. Access the second element in ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
# 10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
print(nums[::-1])

[50, 40, 30, 20, 10]

In [13]:
# 11. Create a tuple with 100, 200, 300
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [30]:
# 12. Access second-to-last element from ('red', 'green', 'blue', 'yellow')
colour= ('red', 'green', 'blue', 'yellow')
print(colour[-2])

blue

In [15]:
# 13. Find minimum in (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [16]:
#14. Find index of 'cat' in ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [17]:
# 15. Check if 'kiwi' exists in tuple
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [18]:
# 16. Create a set with {'a', 'b', 'c'}
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [19]:
# 17. Clear all elements from {1, 2, 3, 4, 5}
nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

In [20]:
#18. Remove 4 from {1, 2, 3, 4}
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

In [21]:
#19. Union of {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [22]:
#20. Intersection of {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [23]:
#21. Create dictionary with keys 'name', 'age', 'city'
person = {'name': 'John', 'age': 25, 'city': 'Paris'}
print(person)

{'name': 'John', 'age': 25, 'city': 'Paris'}

In [24]:
# 22. Add key-value 'country': 'USA'
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'city': 'Paris', 'country': 'USA'}

In [25]:
# 23. Access value of key 'name'
print(person['name'])

John

In [31]:
#24. Remove key 'age'
person.pop('age')
print(person)

{'name': 'John', 'city': 'Paris', 'country': 'USA'}

In [32]:
#25. Check if 'city' exists
print('city' in person)

True

In [33]:
# 26. Create list, tuple, dictionary and print
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [40]:
# 27. Generate 5 random numbers between 1 and 100, sort ascending

numbers = [random.randint(1, 100) for _ in range(5)]
print(numbers)

NameError: name 'random' is not defined

In [37]:
#28. Create list of strings and print element at index 3
words = ['apple', 'banana', 'cherry', 'date']
print(words[3])

date

In [38]:
# 29. Concatenate two lists and print
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(list1 + list2)

[1, 2, 3, 4, 5, 6]

In [39]:
# 30. Sort list in ascending order and print
nums = [5, 2, 9, 1]
nums.sort()
print(nums)

[1, 2, 5, 9]